  <div class="container">

      <p id="notice"><%= notice %></p>
          <h1>All Tickets</h1> 
      <hr>

      <table id="example" class="display" style="width:100%">
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>Ticket Type</th>
            <th>Ticket Description</th>
            <th>Ticket Date</th>
            <th>Ticket Status</th>
            <% if current_user && current_user.email == "support@askit.com" %>
            <th>Ticket Information</th>
            <th>Provide Support</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @tickets.each do |ticket| %>
            <tr>
              <td><%= ticket.id %></td>
              <td><%= truncate(ticket.ticket_type) %></td>
              <td><%= truncate(ticket.ticket_description) %></td>
              <td><%= ticket.created_at.to_formatted_s(:short) %></td>
              
              <% if( ticket && ticket.tickets_status == true) %>

              <td style="color:#28a745;" >Resolved</td>
              
              <% else %>

              <td style="color:#ffc107;">Open</td>

              <% end %>

              <% if current_user && current_user.email == "support@askit.com" %>
              
              <td><%= link_to ('<i class="fa fa-ticket"></i>').html_safe, ticket %></td>
              
              <td><%= link_to ('<i class="fa fa-edit"></i>').html_safe, edit_ticket_path(ticket) %></td>
              
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>

<script type="text/javascript">
  $(document).ready(function() {
      $('#example').DataTable();
  } );
</script>