

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    		<p id="notice"><%= notice %></p>
        
        <div class="post-preview">
            <h2 class="post-title">
               <%= @ticket.ticket_type %>
            </h2>
            <h3 class="post-subtitle text-info">
              <%= @ticket.created_at.to_formatted_s(:short) %>
            </h3>
          </a>
          <p style="word-wrap: break-word;" class="post-meta"><%= word_wrap(@ticket.ticket_description, line_width: 8) %></p>
        </div>
        <div class="post-preview">
            
                <% if @ticket.tickets_status %>
                  <h2 class="post-title">Ticket Status: <span class='text-success'>Resovled</span></h2>
                <% else %>
                  <h2 class="post-title">Ticket Status: <span class='text-warning'>Open</span></h2>
                <% end %>
                
            <h3 class="post-subtitle">
              
            </h3>

              <% if @ticket.support_note  != nil %>
              <p style="word-wrap: break-word;" class="post-meta">Support note: <%= word_wrap(@ticket.support_note, line_width: 8) %></p>
              <% end %>
        </div>
      </div>
     </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% if current_user && current_user.email == "support@askit.com" %>
    		  <%= link_to 'Provide Support', edit_ticket_path(@ticket) %> |
          <%= link_to "Go Back", alltickets_path %>
      <% else %>

          <%= link_to 'All Tickets', alltickets_path %> |

          <% if current_user %>
            <%= link_to 'Your Tickets', tickets_path %>
          <% else %>
            <%= link_to('Create Account', new_user_registration_path)%>
          <% end %> 
      <% end %>
    </div>
  </div>
</div>