<!DOCTYPE html>
<html>
  <head>
    <title>Simple Blog | Joshua Seitz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'contacts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>   
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<%= render 'shared/nav' %>
  	<%= render 'shared/masthead_contact' %>
    <%= yield %>
    <hr>
    <%= render 'shared/footer' %>
  </body>

</html>

